
<div class="PanelField Right">
  <div class="PanelFieldValue">
      <input id="showPostedBatches" type="text" [(ngModel)]="settings.myStringSetting" (blur)="serializeSettings()"  >
  </div>
  <label for="showPostedBatches">My setting</label>
</div>  

<div class="PanelField Right">
  <div class="PanelFieldValue">
      <input id="showPostedBatches" type="checkbox" [(ngModel)]="settings.myBoolSetting" (blur)="serializeSettings()"  >
  </div>
  <label for="showPostedBatches">Enable a thing</label>
</div>     


