
<div class="PanelField Left">
  <label for="string">My setting</label>
  <div class="PanelFieldValue">
      <input id="string" type="text" [(ngModel)]="settings.myStringSetting" (blur)="serializeSettings()"  >
  </div>
</div>  

<div class="PanelField Left">
  <div class="PanelFieldValue">
      <input id="bool" type="checkbox" [(ngModel)]="settings.myBoolSetting" (blur)="serializeSettings()"  >
  </div>
  <label for="bool">Enable a thing</label>
</div>


<div class="PanelField Left">
    <label for="string">Testing 123</label>
    <div class="PanelFieldValue">
        <input id="string" type="text" [(ngModel)]="settings.anotherSetting" (blur)="serializeSettings()"  >
    </div>
  </div>  